---
import { changeLanguage } from "i18next";
import NavigationLayout from "@layouts/NavigationLayout.astro";
import { Form } from "@components/Form";
import { Trans } from "react-i18next";
import { VisibilityForm } from "@components/VisibilityForm";
import { MultiSelect } from "@components/MultiSelect";

changeLanguage("en");
---

<NavigationLayout titleKey="titles.collections">
  <div class="col gap-8">
    <div class="row gap-8">
      <Form name="general" client:load className="card col p-8 flex-1">
        <strong>
          <h2 class="text-xl"><Trans i18nKey={"texts.general"}>General</Trans></h2>
        </strong>
        <label for="name">
          <Trans i18nKey={"texts.name"}>Name</Trans>
        </label>
        <input type="text" class="input" name="name" required />
      </Form>
      <VisibilityForm client:visible />
    </div>
    <Form name="products" className="card col p-8 flex-1" client:visible>
      <strong>
        <h2 class="text-xl"><Trans i18nKey={"titles.products"}>Products</Trans></h2>
      </strong>
      <MultiSelect placeholder="Please select products" client:visible />
    </Form>
    <div class="card p-8">
      <strong>
        <h2 class="text-xl">Images</h2>
      </strong>
      <p>@todo</p>
    </div>
  </div>
</NavigationLayout>
