---
import { changeLanguage } from "i18next";
import NavigationLayout from "@layouts/NavigationLayout.astro";
import { Form } from "@components/Form";
import { Trans } from "react-i18next";
import { VisibilityForm } from "@components/VisibilityForm";

changeLanguage("en");

/*

Nazov a kategoria a kolekcia - prepared

Ceny - prepared
  Cena na stranke
  Nakupna cena
  Zlava v percentach/zlacnit na uvedenu sumu a zobrazit aj cenu po zlacneni

Viditelnost - prepared
  Manualne zapnutie/vypnutie zobrazenia
  Odkedy dokedy sa ma zobrazit
  Pocet ks na stranke

Fotky
  Hlavna
  Galeria ostatnych

Stats
  TODO

*/
---

<NavigationLayout titleKey="titles.product_detail" wrapperClass="gap-8 col mb-8">
  <div class="flex xs:flex-row gap-8 flex-col">
    <Form name="general" className="card col p-8 flex-1" client:load>
      <strong
        ><h2 class="text-xl">
          <Trans i18nKey={"texts.general"}>General</Trans>
        </h2>
      </strong>
      <div class="col">
        <label for="name">
          <Trans i18nKey={"texts.name"}>Name</Trans>
        </label>
        <input type="text" class="input" name="name" required />
      </div>
      <div class="col">
        <label for="category">
          <Trans i18nKey={"texts.category"}>Category</Trans>
        </label>
        <select class="input bg-white" name="category" required>
          <option disabled value="" selected hidden>Choose category</option>
          <option value="sneakers">Sneakers</option>
          <option value="handbag">Handbag</option>
          <option value="hats">Hats</option>
        </select>
      </div>
      <div class="col">
        <label for="collection">
          <Trans i18nKey={"texts.collection"}>Collection</Trans>
        </label>
        <select class="input" name="collection">
          <option value="" selected hidden>Choose collection</option>
          <option value="spring">Spring</option>
          <option value="summer">Summer</option>
          <option value="fall">Fall</option>
          <option value="winter">Winter</option>
        </select>
      </div>
    </Form>
    <Form name="prices" className="card flex flex-col p-8 flex-1" client:visible>
      <strong
        ><h2 class="text-xl">
          <Trans i18nKey={"texts.prices"}>Prices</Trans>
        </h2>
      </strong>
      <div class="col">
        <label for="eshop_price">
          <Trans i18nKey={"texts.eshop_price"}>Eshop price</Trans>
        </label>
        <input type="number" class="input" required step=".01" name="eshop_price" />
      </div>
      <div class="col">
        <label for="buy_price">
          <Trans i18nKey={"texts.buy_price"}>Buy price</Trans>
        </label>
        <input type="number" class="input" step=".01" name="buy_price" />
      </div>
      <div class="col">
        <label for="sale">
          <Trans i18nKey={"texts.Sale"}>Sale</Trans>
        </label>
        <div class="flex flex-row gap-4">
          <input type="number" class="input w-full" step=".01" name="sale" />
          <select name="sale_type">
            <option value="percent">Percent</option>
            <option value="value">Value</option>
          </select>
        </div>
      </div>
    </Form>
  </div>
  <VisibilityForm client:visible />
  <div class="card p-8">
    <strong>
      <h2 class="text-xl">Images</h2>
    </strong>
    <p>@todo</p>
  </div>
</NavigationLayout>
