---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Astro 🚀</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <nav class="bg-black">
      <a href="#" class="text-primary font-bold px-8">Home</a>
    </nav>
    <article>
      <slot />
      <!-- your content is injected here -->
    </article>
  </body>
</html>
